<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Enabled</key>
	<true/>
	<key>ID</key>
	<string></string>
	<key>Password</key>
	<string></string>
	<key>SettingList</key>
	<array>
		<dict>
			<key>OriginalType</key>
			<string>ORIGINTYPE_TEXT_PHOTO</string>
			<key>Darkness</key>
			<string>DARKNESS_NORMAL</string>
			<key>Quality</key>
			<string>QUALITY_NORMAL</string>
			<key>CustomSizeWidth</key>
			<integer>210</integer>
			<key>CustomSizeHeight</key>
			<integer>297</integer>
			<key>ActionAfter</key>
			<dict>
				<key>OpenWithPath</key>
				<string></string>
				<key>Value</key>
				<string>ACTION_NONE</string>
			</dict>
			<key>AutoColorBalance</key>
			<false/>
			<key>AutoCrop</key>
			<false/>
			<key>AutoExposure</key>
			<false/>
			<key>AutoRotation</key>
			<dict>
				<key>Direction</key>
				<string>LTOR</string>
				<key>Mode</key>
				<string>AUTO</string>
				<key>Value</key>
				<false/>
			</dict>
			<key>AutoStraighten</key>
			<false/>
			<key>BackgroundRemoval</key>
			<dict>
				<key>ManualValue</key>
				<integer>50</integer>
				<key>Mode</key>
				<string>AUTO</string>
				<key>Value</key>
				<false/>
			</dict>
			<key>BlankPageDetection</key>
			<dict>
				<key>Mode</key>
				<string>DELETE_PAGE</string>
				<key>Value</key>
				<false/>
			</dict>
			<key>Descreen</key>
			<false/>
			<key>DuplexScan</key>
			<string>DUPLEX_OFF</string>
			<key>FileFormat</key>
			<string>FORMAT_JPEG</string>
			<key>FileFormatPageSeparation</key>
			<false/>
			<key>FileFormatPages</key>
			<integer>1</integer>
			<key>JPEG_Quality</key>
			<integer>50</integer>
			<key>FringeRemoval</key>
			<false/>
			<key>Color</key>
			<string>COLOR_TRUE</string>
			<key>PDF_Option</key>
			<dict>
				<key>PDF_Quality</key>
				<integer>50</integer>
			</dict>
			<key>Name</key>
			<string>Default</string>
			<key>Resolution</key>
			<string>DPI_300</string>
			<key>SaveTo</key>
			<string>_PICTURES_</string>
			<key>ScanSize</key>
			<string>SIZE_A4</string>
			<key>Orientation</key>
			<string>ORIENTATION_UPRIGHT</string>
			<key>BuildJob</key>
			<string>BJ_OFF</string>
			<key>BookScan</key>
			<string>BS_OFF</string>
			<key>Watermark</key>
			<dict>
				<key>Value</key>
				<false/>
				<key>Mode</key>
				<string>TEXT</string>
				<key>Text</key>
				<dict>
					<key>Angle_Degree</key>
					<integer>0</integer>
					<key>Angle_Mode</key>
					<string>HORIZONTAL</string>
					<key>TextColor</key>
					<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmAYMVuww/g+qd3D4Bhg==</data>
					<key>TextFont</key>
					<string>Lucida Grande</string>
					<key>TextSize</key>
					<integer>12</integer>
					<key>TextStyle</key>
					<string>NORMAL</string>
					<key>TextString</key>
					<array>
						<string>DRAFT</string>
					</array>
					<key>TextIndex</key>
					<integer>0</integer>
				</dict>
				<key>Image</key>
				<dict>
					<key>Image_Location</key>
					<string></string>
				</dict>
				<key>FirstPageOnly</key>
				<false/>
			</dict>
			<key>Prefix</key>
			<dict>
				<key>PrefixString</key>
				<string>Scan</string>
				<key>PrefixType</key>
				<string>NO_FOLDER</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
