<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>media-empty</key>
	<dict>
		<key>MPpaperEmpty</key>
		<string>media-empty</string>
		<key>FirstPaperEmpty</key>
		<string>media-empty</string>
		<key>OptPaperEmpty</key>
		<string>media-empty</string>
		<key>OptPaperEmptyHcf</key>
		<string>media-empty</string>
		<key>Opt3PaperEmpty</key>
		<string>media-empty</string>
		<key>Opt4PaperEmpty</key>
		<string>media-empty</string>
		<key>Opt3PaperEmptyHcf</key>
		<string>media-empty</string>
	</dict>
	<key>media-low</key>
	<dict>
		<key>Tray1PaperLow</key>
		<string>media-low</string>
		<key>Tray2PaperLow</key>
		<string>media-low</string>
		<key>Tray2PaperLowHcf</key>
		<string>media-low</string>
		<key>Tray3PaperLow</key>
		<string>media-low</string>
		<key>Tray4PaperLow</key>
		<string>media-low</string>
		<key>Tray3PaperLowHcf</key>
		<string>media-low</string>
	</dict>
	<key>input-tray-missing</key>
	<dict>
		<key>Tray1CasseteOut</key>
		<string>input-tray-missing</string>
		<key>Tray2CasseteOut</key>
		<string>input-tray-missing</string>
		<key>Tray2CasseteOutHcf</key>
		<string>input-tray-missing</string>
		<key>Tray3CasseteOut</key>
		<string>input-tray-missing</string>
		<key>Tray4CasseteOut</key>
		<string>input-tray-missing</string>
		<key>Tray3CasseteOutHcf</key>
		<string>input-tray-missing</string>
	</dict>
	<key>media-jam</key>
	<dict>
		<key>PaperJam0MPF</key>
		<string>media-jam</string>
		<key>PaperJam0Tray1</key>
		<string>media-jam</string>
		<key>PaperJam0Tray2</key>
		<string>media-jam</string>
		<key>JamSCF</key>
		<string>media-jam</string>
		<key>Tray2FeedSensorError</key>
		<string>media-jam</string>
		<key>PaperJam0Tray2Hcf</key>
		<string>media-jam</string>
		<key>Tray2FeedSensorErrorHcf</key>
		<string>media-jam</string>
		<key>PaperJam0Tray3</key>
		<string>media-jam</string>
		<key>Jam3CF</key>
		<string>media-jam</string>
		<key>Tray3FeedSensorError</key>
		<string>media-jam</string>
		<key>PaperJam0Tray4</key>
		<string>media-jam</string>
		<key>PaperJam0Tray3Hcf</key>
		<string>media-jam</string>
		<key>Tray3FeedSensorErrorHcf</key>
		<string>media-jam</string>
		<key>PaperJam1</key>
		<string>media-jam</string>
		<key>PaperJam2</key>
		<string>media-jam</string>
		<key>DupPathJam0</key>
		<string>media-jam</string>
		<key>DupPathJam1</key>
		<string>media-jam</string>
		<key>DupPathJam2</key>
		<string>media-jam</string>
		<key>MultiBinPaperJamFront</key>
		<string>media-jam</string>
		<key>FinisherJam0</key>
		<string>media-jam</string>
		<key>MultiBinPaperJamInside</key>
		<string>media-jam</string>
		<key>MultiBinPaperJamExit</key>
		<string>media-jam</string>
		<key>FinisherJam2</key>
		<string>media-jam</string>
		<key>MultiBinPaperJamDuplex</key>
		<string>media-jam</string>
		<key>FinisherDuplexJam</key>
		<string>media-jam</string>
		<key>MultiBinMailBoxJamInside</key>
		<string>media-jam</string>
		<key>MultiBinMailBoxJamExit</key>
		<string>media-jam</string>
	</dict>
	<key>toner-low</key>
	<dict>
		<key>YellowTonerLow</key>
		<string>toner-low</string>
		<key>MagentaTonerLow</key>
		<string>toner-low</string>
		<key>CyanTonerLow</key>
		<string>toner-low</string>
		<key>BlackTonerLow</key>
		<string>toner-low</string>
	</dict>
	<key>toner-empty</key>
	<dict>
		<key>YellowTonerEmpty</key>
		<string>toner-empty</string>
		<key>MagentaTonerEmpty</key>
		<string>toner-empty</string>
		<key>CyanTonerEmpty</key>
		<string>toner-empty</string>
		<key>BlackTonerEmpty</key>
		<string>toner-empty</string>
		<key>TonerYellowHardStop</key>
		<string>toner-empty</string>
		<key>YTonerExhaustedReplaceToner</key>
		<string>toner-empty</string>
		<key>TonerMagentaHardStop</key>
		<string>toner-empty</string>
		<key>MTonerExhaustedReplaceToner</key>
		<string>toner-empty</string>
		<key>TonerCyanHardStop</key>
		<string>toner-empty</string>
		<key>CTonerExhaustedReplaceToner</key>
		<string>toner-empty</string>
		<key>TonerBlackHardStop</key>
		<string>toner-empty</string>
		<key>KTonerExhaustedReplace</key>
		<string>toner-empty</string>
	</dict>
	<key>cover-open</key>
	<dict>
		<key>CoverOpen</key>
		<string>cover-open</string>
		<key>MultiBinDoorOpen</key>
		<string>cover-open</string>
		<key>FinisherDoorOpen</key>
		<string>cover-open</string>
		<key>MultiBinFinisherJam</key>
		<string>cover-open</string>
		<key>MultiBinMailBoxDoorOpen</key>
		<string>cover-open</string>
	</dict>
	<key>output-area-full</key>
	<dict>
		<key>OutbinFull</key>
		<string>output-area-full</string>
		<key>MultiBinPaperStacker1</key>
		<string>output-area-full</string>
		<key>MultiBinPaperStacker2</key>
		<string>output-area-full</string>
		<key>MultiBinPaperStacker3</key>
		<string>output-area-full</string>
		<key>MultiBinPaperStacker4</key>
		<string>output-area-full</string>
		<key>MultiBinPaperStacker5</key>
		<string>output-area-full</string>
		<key>MultiBinPaperStacker6</key>
		<string>output-area-full</string>
	</dict>
	<key>opc-life-over</key>
	<dict>
		<key>OPCHardStopY</key>
		<string>opc-life-over</string>
		<key>OPCHardStopM</key>
		<string>opc-life-over</string>
		<key>OPCHardStopC</key>
		<string>opc-life-over</string>
		<key>OPCHardStopK</key>
		<string>opc-life-over</string>
		<key>ReplaceImageUnitY</key>
		<string>opc-life-over</string>
		<key>ReplaceImageUnitM</key>
		<string>opc-life-over</string>
		<key>ReplaceImageUnitC</key>
		<string>opc-life-over</string>
		<key>ReplaceImageUnitK</key>
		<string>opc-life-over</string>
		<key>ReplaceImageSoonY</key>
		<string>opc-life-over</string>
		<key>ReplaceImageSoonM</key>
		<string>opc-life-over</string>
		<key>ReplaceImageSoonC</key>
		<string>opc-life-over</string>
		<key>ReplaceImageSoonK</key>
		<string>opc-life-over</string>
	</dict>
	<key>opc-near-eol</key>
	<dict>
		<key>OpcLowY</key>
		<string>opc-near-eol</string>
		<key>OpcLowM</key>
		<string>opc-near-eol</string>
		<key>OpcLowC</key>
		<string>opc-near-eol</string>
		<key>OpcLowK</key>
		<string>opc-near-eol</string>
	</dict>
	<key>marker-waste-full</key>
	<dict>
		<key>WasteTankFull</key>
		<string>marker-waste-full</string>
	</dict>
</dict>
</plist>
